.checkbox-wrapper {
  width: 11rem;

  & > label {
    margin-bottom: 20px;
  }

  & > div {
    gap: 0.75rem;
    align-items: center;
  }

  .checkbox-inner {
    label {
      all: unset;
      font: var(--text-body-sm);
    }
    & input,
    & input:focus,
    & input:hover {
      all: unset;
      position: absolute;
      inset: 0;
    }
  }
}

.switcher-toggle {
  position: relative;
  cursor: pointer;

  display: flex;
  width: 4rem;
  padding: 0.25rem;

  background-color: var(--input-base);

  border: solid 1px var(--input-stroke);
  border-radius: 34px;

  span {
    display: block;

    width: 24px;
    height: 24px;
    background-color: var(--input-stroke);
    border-radius: 50%;
  }
}

.switcher-toggle:has(:checked) {
  justify-content: flex-end;
  background-color: var(--brand-light);

  span {
    background-color: var(--text-heading);
  }
}

.terms-wrapper {
  position: relative;
  & input,
  & input:focus,
  & input:hover {
    all: unset;
    position: absolute;
    inset: 0;
  }

  label {
    font: var(--text-body-sm);
    color: var(--text-body);

    a {
      font-weight: 600;
      color: var(--brand-light);
    }
  }
}

.checkbox-image {
  flex: 0 0 1.25rem;
  height: 1.25rem;
  background-image: url(../../assets/icons/checkbox.svg);
}

.checkbox-inner:has(:checked) .checkbox-image {
  background-image: url(../../assets/icons/checkbox-checked.svg);
}
