.segmented-control-wrapper {
  padding: 0.25rem;
  gap: 0.25rem;

  border-radius: 8px;
  border: 1px solid var(--input-stroke);

  background-color: var(--input-base);
}

.segmented-control-inner {
  cursor: pointer;
  padding: 0.65625rem 1.125rem;

  gap: 8px;
  justify-content: center;
  align-items: center;

  & input,
  & input:focus,
  & input:hover,
  label {
    all: unset;
  }

  svg {
    height: 1rem;
    width: 1rem;
  }
}

.segmented-control-inner:has(:checked) {
  background-color: var(--input-stroke);
  border-radius: 4px;

  color: var(--text-heading);

  svg path {
    fill: var(--brand-light);
  }
}

.color-selection-wrapper {
  justify-content: space-between;
  align-items: center;
}

.color-selection-inner {
  display: flex;
  cursor: pointer;

  label span {
    display: block;
    border: 4px solid var(--shape-button);
    border-radius: 50%;
    height: 28px;
    width: 28px;
  }

  label span:hover {
    border: 4px solid var(--shape-hover);
  }

  .brand-light {
    background-color: var(--brand-light);
  }

  .navy {
    background-color: var(--navy);
  }

  .purple {
    background-color: var(--purple);
  }

  .fuschia {
    background-color: var(--fuschia);
  }

  .pink {
    background-color: var(--pink);
  }

  .red {
    background-color: var(--danger);
  }

  .orange {
    background-color: var(--orange);
  }

  .yellow {
    background-color: var(--yellow);
  }

  .lime {
    background-color: var(--lime);
  }

  .green {
    background-color: var(--green);
  }

  .cyan {
    background-color: var(--cyan);
  }

  & input,
  & input:focus,
  & input:hover,
  label {
    all: unset;
  }
}

.color-selection-inner:has(:checked) {
  label span {
    outline: 2px solid var(--brand-light);
  }
}

.theme-selection-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 0.5rem;
}

.theme-selection-inner {
  cursor: pointer;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  padding-inline: 4px;
  padding-top: 4px;

  border-radius: 8px;
  border: 2px solid transparent;

  text-align: center;

  background-color: var(--shape-button);

  img {
    border-radius: 4px;
  }

  & input,
  & input:focus,
  & input:hover,
  label {
    all: unset;
  }
}

.theme-selection-inner:hover {
  background-color: var(--shape-hover);
}

.theme-selection-inner:has(:checked) {
  border: 2px solid var(--brand-light);
}
